#currentTime
{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    font-style: oblique;  
}

h1
{
    background-color: chartreuse;
}

.jumbotron-text-center
{
    text-align: center;
    background-color: coral;
}

.container
{
    background-color: cyan;
    
    text-align: center;
    /*color: darkorchid;*/ 
}

.body
{
    background-color: lightgreen;
}

.footer
{
    background-color: rgb(196, 84, 136);
    text-align: center;  
}

#foot
{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    text-align: center;
}

.header 
{
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}





/*Tutaj zaczyna się menu*/
#navbar 
{
    overflow: hidden;
    background-color: #333;
}
  
#navbar a 
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#navbar a:hover 
{
    background-color: #ddd;
    color: black;
}
  
#navbar a.active 
{
    background-color: #04AA6D;
    color: white;
}
  
.content 
{
    padding: 16px;
}
  
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content 
{
    padding-top: 60px;
}
/*Tutaj kończy się menu*/

